version: '3.5'

services:
  db_auth:
    container_name: database
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=Kyala
      - POSTGRES_USER=postgres
    image: postgres:15.3-bookworm
    restart: always
    volumes:
      - db:/var/lib/postgresql/data
      - ./SQL_server/init.sql:/docker-entrypoint-initdb.d/init.sql
  